.sty1{
    background-color: red;
    color: white;
    font-size: 40px;
}
.sty2{
    background-color: #666666;
    color: white;
    font-size: 40px;
}
.mgrt15{
    margin-right: 15px;
}
.colorRed{
    color: RED;
}